PORT = 4000

CLOUDINARY_CLIENT_NAME =
CLOUDINARY_CLIENT_API = 

CLOUDINARY_CLIENT_SECRET = 

FRONTEND_URL=http://localhost:5173,http://localhost:5174

no need to update frontend URL as already added in Railway env var->
 "https://vision-classes-project-frontend.vercel.app/"

MONGOOSE_URI =  mongodb+srv://username:password@cluster0.___.mongodb.net/



JWT_SECRET_KEY =

JWT_EXPIRE = 

COOKIE_EXPIRE =



USER = 'email@gmail.com'
APP_PASSWORD = 
// mail service for nodemailer...

// cloudinary account -- youremail@email.com

AUTH0_DOMAIN = 
AUTH0_CLIENT_ID = 
AUTH0_CLIENT_SECRET = 

// AUTH0 account -- 
